@model ErrorViewModel
@{
    ViewData["Title"] = "Ocorreu um erro";
}

@{
    if (Model == null)

    {

        <div class="alert alert-warning">
            <p><i class="fas fa-exclamation-triangle"></i> Ooops! Ocorreu um erro, mas não se preocupe. Nosso time será avisado e iremos corrigir em breve!</p>
        </div>
    }

    else

    {
        <h2>@Html.Raw(Model.Titulo)</h2>
        <br />
        <div class="alert alert-danger">
            <p> <i class="fas fa-exclamation-triangle"></i>  @Html.Raw(Model.Mensagem)</p>
        </div>
    }
}